body {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.tabla-container {
    max-width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

table {
    border-collapse: collapse;
    width: 100%; /* Asegura que la tabla ocupe el 100% del contenedor */
    table-layout: fixed; /* Hace que las celdas tengan un ancho fijo */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* Permite que el texto se ajuste dentro de la celda */
}

input {
    width: 100%;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    border: none;
    text-align: center;
}
.input-container {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap: 10px; /* Espacio entre elementos */
    margin-bottom: 20px; /* Espacio debajo del contenedor */
}